<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Login Page</title>
  </head>
  <body>
    <h1 class="page-title">Login Now</h1>
    <% if (locals.msg) { %>
      <div class="status-message error"><%= locals.msg %></div>
    <% } %>
    <% if (locals.sucmsg) { %>
      <div class="status-message success"><%= locals.sucmsg %></div>
    <% } %>
    
    
    <form action="/login" method="post">
      <label for="enrollmentNo">Enrollment No:</label>
      <input type="text" id="enrollmentNo" name="enrollmentNo" required pattern="[0-9]{12}" title="Enrollment number must be 12 digits long">

      <!-- <label for="password">Password:</label> -->
      <div class="password-container">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" pattern=".{8,10}" required>
        <i class="fa-solid fa-eye" id="eye"></i>
      </div>
      <br>
      
      <div id="submit-button">
        <input type="submit" class="submit-button" value="Login">
      </div>
      <!-- <button type="submit">Login</button> -->
    </form>
    <div class="status-message"><a href="/register">Don't have an account? Register now!</a></div>
    <script src="js/validate.js"></script>

  
    
  </body>
</html>
