<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style1.css">
    <title>Login Page</title>
  </head>
  <body>
    <h1 class="status-message">Login Page</h1>
    <% if (locals.msg) { %>
      <div class="status-message error"><%= locals.msg %></div>
    <% } %>
    <% if (locals.sucmsg) { %>
      <div class="status-message success"><%= locals.sucmsg %></div>
    <% } %>
    
    
    <form action="/login" method="post">
      <label for="userId">User ID:</label>
      <input type="text" id="userId" name="userId" required pattern="[0-9]{6}|[0-9]{12}" title="User ID must be 6 or 12 digits long">

      <label for="password">Password:</label>
      <div class="password-wrapper">
        <input type="password" id="password" name="password">
        <button type="button" id="toggle-password">Show Password</button>
      </div>
      <br>
      <button type="submit">Login</button>
    </form>
    <div class="status-message"><a href="/register">Don't have an account? Register now!</a></div>
    

    <script>
      const password = document.getElementById("password");
      const togglePasswordButton = document.getElementById("toggle-password");
    
      function togglePasswordVisibility() {
        if (password.type === "password") {
          password.type = "text";
          togglePasswordButton.textContent = "Hide Password";
        } else {
          password.type = "password";
          togglePasswordButton.textContent = "Show Password";
        }
      }
    
      togglePasswordButton.addEventListener("click", togglePasswordVisibility);
    </script>
    
  </body>
</html>
