<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/style1.css">
  <title>Registration Status</title>
</head>
<body>
  <h1><%= msg %></h1>
  <a href="/"><button>Return Home</button></a>
</body>
</html>
