/* Generic CSS file for login, register, and status EJS files */

/* Body styles */
body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  background-color: #142580 ;
  color: #F6F6F6;
}

/* Form styles */
form {
  background-color: #F6F6F6 ;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
}

form label {

  color: #142580;
  display: block;
  font-size: 18px;
  padding-left: 10px;
  margin-bottom: 4px;
  font-weight: bold;
  text-align: left;
  
}

form input[type="text"],

form input[type="password"],
form select {
  
  width: 100%;
  padding: 10px;
  /* border: 1px solid #444; */
  border-radius: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 14px;
  color: #F6F6F6;
  background-color: #051336;

}

form select option {
  padding-top: 8px;
  font-size: 14px;
}


form button:hover {
  background-color: #3e8e41;
}

/* Status message styles */
.status-message {
  color: #F6F6F6;
  background-color: none;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  text-align: center;
  font-size: 18px;
}
.page-title{
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  text-align: center;
  font-size: 28px;
}

.status-message{
  color: #F6F6F6;
}
.status-message.success {
  color: #4CAF50;
}

.status-message.error {
  color: #f44336;
}
#submit-button{
  display: flex;  
  justify-content: center;  
  align-items: center; 
  
}
.submit-button{

  margin-top: 8px;
  background-color: #F6F6F6; 
  border: 3px solid #142580;
  border-radius: 20px;
  color: #000000;
  padding: 10px 96px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;

}
.submit-button:hover {
  
  color: #F6F6F6;
  background-color: #142580;
}


.password-container{
  width: 100%;
  position: relative;
}
.password-container input[type="password"],
.password-container input[type="text"]{
  width: 100%;
  padding: 12px 36px 12px 12px;
  box-sizing: border-box;
}
.fa-eye{
  position: absolute;
  top: 45px;
  right: 4%;
  cursor: pointer;
  color: #F6F6F6;
}